@import url(material-icons.css);
* {
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
  }
  body {
    margin: 0;
  }
  ul {
    margin: 10px;
  }
  .navbar {
    width: 100%;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(#971226, #1779e9);
    border-radius: 0;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    padding: 0;
    color: black;
    text-shadow: 0px 5px 15px #000000;
    overflow: auto;
    transition: all 0.2s;
    z-index: 3
  } /*
  .topnav {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    margin: 8px;
    padding: 5px;
    overflow: hidden;
    border-radius: 8px;
    animation: nav 5s;
    animation-iteration-count: infinite;
    display: flex;
    position: fixed;
    position: none;
    top: 31px;
  } */
  .menu {
      align-items: center;
      text-align: center;
      display: flex;
      list-style: none;
  }
  .menu a {
      text-decoration: none;
      border-radius: 8px;
      margin: 0 5px 0 5px;
      font-size: 24px;
      padding: 10px;
      display: flex;
      align-items: center;
      text-align: center;
      background-color: rgb(213, 213, 213, 0.750);
      color: black;
      transition: all 0.2s;
      flex-direction: row-reverse;
  }
  .menu a.active {
      display: flex;
      background-color: white;
      color: black;
      transition: all 0.2s;
  }
  .menu a:hover {
      display: flex;
      background-color: white;
      color: black;
      top: 0;
      transition: all 0.2s;
  }
  nav ul {
      list-style-type: none;
  }
  nav ul {
      display: flex;
  }
  nav ul a {
      display: flex;
  }
  .popup {
      display: block;
  }
  .header {
    background-color: rgb(50, 50, 50);
    padding: 20px;
    padding-top: 80px;
    text-align: center;
    border-radius: 8px;
    margin: 8px;
  }
  body {
    background-color: #1e1e1e;
    color: white;
  }
  .line {
    margin-left: 5px;
    margin-right: 5px;
    border-left: 2px solid rgb(255, 255, 255);
    height: auto;
  }
  .youtube {
    border: 2px solid white;
    border-radius: 8px;
  }
  .discord {
    width: 450px;
    height: 350px 
  }
  .friends {
    border-radius: 5px;
    width: 88px;
    height: 31px;
    transition: 0.5s;
  }
  .friends:hover {
    box-shadow: 0 0px 5px rgba(255, 255, 255, 0.271);
    transition: 0.5s;
  }
  footer {
    background-color: rgb(50, 50, 50);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin: 8px;
  }
  table {
    width: 100%;
  }
  td {
    border: 1px solid #333; 
    padding: 5px;
  }
  td:first-child {
    cursor: pointer;
  }
  button {
    margin: 4px 2px;
    background-color: rgb(90, 90, 90);
    color: white;
    border: 3px solid white;
    border-radius: 8px;
    padding: 20px;
    font-size: 24px;
    transition: 0.2s;
  }
  button:hover {
    transition: 0.2s;
    background-color: rgb(70, 70, 70);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.525);
  }
  .header-inset {
    background-color: rgb(73, 73, 73);
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin: 8px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(280px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 1em;
  }
  .about1 {
    color: white;
    padding: 15px 20px 15px 20px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(41, 41, 41)), url('../style/banners/other/pc.jpg');
    background-position: center;
    background-size: auto 200%;
    margin: 0px -8px 0px -8px;
    transition: all 0.5s;
  }
  .about2 {
    color: white;
    padding: 15px 20px 15px 20px;
    border-radius: 8px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(41, 41, 41)), url('../style/banners/other/soft.jpg');
    background-position: center;
    background-size: auto 200%;
    margin: 0px -8px 0px -8px;
    transition: all 0.5s;
  }
  p {
    font-size: 18px;
  }
  .material-symbols-rounded {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  .switch {
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    display: flex;
    background-color: #1e1e1e;
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 20px;
    font-size: 20px;
    transition: all 0.2s;
}
.switch:hover {
    border-radius: 8px;
    animation: switch 5s;
    animation-iteration-count: infinite;
    background-color: rgb(0, 0, 0);
    color: var(--back-color-a1-200);
    transition: all 0.2s;
    animation-duration: 5s;
}
.switch:active {
    background-color: #fff;
    text-shadow: 0 0 5px var(--back-color-a1-300);
    color: var(--back-color-a1-200);
    transition: all 0.5s;
}
  @media (min-width: 768px) {
      nav {
          position: relative;
      }
      nav ul {
          padding: 0;
          text-align: center;
      }
      nav ul li {
          display: inline-flex;
      }
  }
  @media (max-width: 1000px) { 
    body {
      font-size: 16px;
    }
    .header {
      padding: 50px 15px 5px 15px;
    }
    h1 {
      font-size: 24px;
    }
    footer {
      font-size: 16px;
    }
    .header-inset {
      font-size: 18px;
    }
    button {
      font-size: 20px;
    }
    .youtube {
      width: 75%;
      height: 50%;
    }
    .discord {
      height: 500px;
      width: 100%;
    }
    textarea {
      width: 50%;
      font-size: 16px;
    }
    .grid {
        grid-template-columns: repeat(1, minmax(240px, 1fr));
    }
    .navbar {
        justify-content: start;
        border-radius: 0px 0px 5px 5px;
        border-bottom: 3px var(--back-color-a1-800) solid;
        left: 0;
        background-color: var(--back-color-a1-200);
        top: 0%;
        margin-right: 0%;
        transform: translate(0%, 0%);
    }
    .navbar__wrap .menu {
        display: none;
    }
    .hamb {
        display: flex;
        align-items: center;
    }
  
    .hamb__field {
        background: rgb(0, 0, 0, 0.500);
        padding: 10px 20px;
        cursor: pointer;
    }
    .bar {
      background-color: white;
        display: block;
        width: 30px;
        height: 3px;
        margin: 5.1px auto;
        transition: 0.2s;
    }
    .popup {
        width: 100%;
        align-items: 100%;
        box-shadow: 0px 20px 15px rgb(0, 0, 0); 
        border-radius: 0;
        position: fixed;
        opacity: 0;
        padding-top: 50px;
        left: -100%;
        height: 100%;
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.314);
        z-index: 1;
        display: flex;
        overflow: auto;
        transition: 0.5s;
    }
    .popup a {
        border-radius: 5px;
        color: black;
        align-items : center;
        padding: 14px 16px;
        font-size: 17px;
        top: 0;
        transition: all 0.2s
    }
    .popup.open {
        left: 0;
        opacity: 1;
    }
    .popup .menu {
        width: 100%;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 5px;
        overflow: auto;
    }
    .popup .menu a {
        color: #000000;
        text-align: center;
        border-radius: 8px;
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 5px;
        font-size: 20px;
    }
    .popup .menu a:hover {
        text-align: center;
        background-color: white;
        color: black;
        top: 0;
        transition: all 0.2s
    }
    .popup .menu a.active {
        display: flex;
        border-radius: 10px;
        background-color: white;
        color: black;
        top: 0;
        transition: all 0.2s;
    }
    textarea {
        width: 100%;
        border-radius: 5px;
        background: lightgrey;
    }
    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamb__field.active .bar:nth-child(1) {
        background-color: white;
        transform: translateY(8px) rotate(135deg);
    }
    .hamb__field.active .bar:nth-child(3) {
        background-color: white;
        transform: translateY(-8px) rotate(-135deg);
    }
    .hamb__field:hover .bar:nth-child(2) {
        background-color: white;
    }
    .hamb__field:hover .bar:nth-child(1) {
        background-color: white;
    }
    .hamb__field:hover .bar:nth-child(3) {
        background-color: white;
    }
    body.noscroll {
        overflow: hidden;
    }
  }
  
  
       background-color: white;
        color: black;
        top: 0;
        transition: all 0.2s
    }
    .popup .menu a.active {
        display: flex;
        border-radius: 10px;
        background-color: white;
        color: black;
        top: 0;
        transition: all 0.2s;
    }
    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamb__field.active .bar:nth-child(1) {
        background-color: white;
        transform: translateY(8px) rotate(135deg);
    }
    .hamb__field.active .bar:nth-child(3) {
        background-color: white;
        transform: translateY(-8px) rotate(-135deg);
    }
    .hamb__field:hover .bar:nth-child(2) {
        background-color: white;
    }
    .hamb__field:hover .bar:nth-child(1) {
        background-color: white;
    }
    .hamb__field:hover .bar:nth-child(3) {
        background-color: white;
    }
    body.noscroll {
        overflow: hidden;
    }
  }
  
  
  }
    body.noscroll {
        overflow: hidden;
    }
  }
  
  
   }
  }
  
  
den;
    }
  }
  
  
olor: white;
    }
    body.noscroll {
        overflow: hidden;
    }
  }
  
  
n;
    }
  }
  
  
rm: translateY(-8px) rotate(-135deg);
    }
    .hamb__field:hover .bar:nth-child(2) {
        background-color: white;
    }
    .hamb__field:hover .bar:nth-child(1) {
        background-color: white;
    }
    .hamb__field:hover .bar:nth-child(3) {
        background-color: white;
    }
    body.noscroll {
        overflow: hidden;
    }
  }
  
  
 }
  
  
den;
    }
  }
  
  